<% if resource.errors.any? %>
  <div id="error_explanation" class="absolute text-white text-center">
    <% resource.errors.full_messages.each do |message| %>
      <div class="absolute text-white text-center" role='alert'><%= message %></div>
    <% end %>
  </div>
<% end %>
