<div class = "main flex w-screen h-screen">
    <div class="w-[80%]">
        
    </div>
      <div class="w-[20%] flex justify-end h-screen">
         <%= render "main_page/sidebar", jobs: @jobs%>
    </div>
</div>