<div class = "main flex flex-row w-screen">
    <div class="w-[80%]">
        <%= render "job_search/form" %>
    </div>
    <div class="w-[20%] flex justify-end">
        <%= render "main_page/sidebar", jobs: @jobs, trackers: @trackers %>
    </div>
</div>
