<ul class="flex flex-col text-white w-screen">
    <% @result.each do |it| %>
    <a href="
        <% if it['applyMethod'].has_key?('companyApplyUrl') %> 
            <%=it['applyMethod']['companyApplyUrl']%> 
        <% else %> 
            <%=it['applyMethod']['easyApplyUrl']%> 
        <% end %>" 

        target="_blank" class="w-full block p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= it['title'] %></h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    </a>
    <%end%>
</ul>