/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.loading-anim {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.loading-anim-shake {
  animation-name: shake;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shake {
  0% {
    transform: translateX(0);
    transform: translateY(0);
  }
  50% {
    transform: translateX(1px);
    transform: translateY(1px);
  }
  100% {
    transform: translateX(0);
    transform: translateY(0);
  }
}

@-moz-keyframes shake {
  0% {
    transform: translateX(0);
    transform: translateY(0);
  }
  33% {
    transform: translateX(5px);
    transform: translateY(5px);
  }
  66% {
    transform: translateX(-5px);
    transform: translateY(-5px);
  }
  100% {
    transform: translateX(0);
    transform: translateY(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
